/* 
    Created on : Jun 10, 2015, 10:27:26 AM
    Author     : Robert Erickson
*/
@import url('reset.css');
body{
    margin: 5em;
}
.even{
    background-color: whitesmoke;
}

.odd{
    background-color: lightcyan;
}

table.teacherTable{
    border: 2px solid black;
    max-width: 40em;
    margin: auto;
    margin-top: 1em;
    margin-bottom: 1em;
}
td.teacherTd{
    border: 1px solid black;
    min-width: 10em;
}
th.teacherTh {
    text-align: center;
    min-width: 10em;
}
ul li{
    margin: 0 0 1em 0;
}